@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');

*{
    background-color: black;
    color:antiquewhite;
}
.container{
    text-align: center;
    margin-top: 200px;
}
input{
    border-color: cyan;
    box-shadow: 0px 5px 10px cyan;
    font-size: 20px;
}
.button{
    background-color: blue;
    color:#fff;
    height:auto;
    width:200px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}